@model IEnumerable<MvcFrontend.Models.MyDatum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlobalGroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleManagerPerformanceReviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PspName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewGlobalPractice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeCity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlobalGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeopleManagerPerformanceReviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PspName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewGlobalPractice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeCity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
